/* ==========================
   RESET
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#f7f5f7;
    color:#333;
}

/* ==========================
   NAVBAR
========================== */

.navbar{

    position:fixed;

    top:0;
    left:0;

    width:100%;

    height:90px;

    background:#800040;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 50px;

    box-shadow:0 5px 20px rgba(0,0,0,.15);

    z-index:1000;

}

.logo-section{

    display:flex;

    align-items:center;

    gap:18px;

}

.logo-section img{

    width:65px;

    height:65px;

    border-radius:50%;

    border:3px solid white;

    object-fit:cover;

}

.logo-section h2{

    color:white;

    font-size:25px;

}

.logo-section p{

    color:#ffe6f2;

    font-size:14px;

}

.nav-right{

    display:flex;

    align-items:center;

    gap:18px;

}

.date-time{

    display:flex;

    flex-direction:column;

    color:white;

    font-size:14px;

    text-align:right;

}

.weather-box{

    background:white;

    color:#800040;

    padding:10px 16px;

    border-radius:30px;

    font-weight:600;

}

.logout-btn{

    background:white;

    color:#800040;

    text-decoration:none;

    padding:12px 22px;

    border-radius:10px;

    font-weight:600;

    transition:.3s;

}

.logout-btn:hover{

    background:#ffd8e8;

}

/* ==========================
   MOTTO
========================== */

.motto{

    margin-top:90px;

    background:#fdeef4;

    color:#800040;

    padding:12px;

    font-weight:600;

    font-size:18px;

}

/* ==========================
   HERO SECTION
========================== */

.hero{

    width:90%;

    margin:50px auto;

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:60px;

}

.hero-left{

    width:50%;

    animation:slideLeft 1s ease;

}

.badge{

    display:inline-block;

    background:#800040;

    color:white;

    padding:8px 18px;

    border-radius:30px;

    margin-bottom:20px;

}

.hero-left h1{

    font-size:46px;

    color:#800040;

    margin-bottom:20px;

    line-height:1.3;

}

.hero-left p{

    font-size:18px;

    color:#555;

    line-height:32px;

    margin-bottom:35px;

}

.hero-buttons{

    display:flex;

    gap:18px;

}

.primary-btn{

    background:#800040;

    color:white;

    text-decoration:none;

    padding:15px 30px;

    border-radius:10px;

    transition:.3s;

}

.primary-btn:hover{

    background:#a00050;

}

.secondary-btn{

    border:2px solid #800040;

    color:#800040;

    text-decoration:none;

    padding:15px 30px;

    border-radius:10px;

    transition:.3s;

}

.secondary-btn:hover{

    background:#800040;

    color:white;

}

.hero-right{

    width:50%;

    animation:slideRight 1s ease;

}

.hero-right img{

    width:100%;

    border-radius:25px;

    box-shadow:0 15px 35px rgba(0,0,0,.18);

    transition:.5s;

}

.hero-right img:hover{

    transform:scale(1.03);

}

/* ==========================
   ANIMATION
========================== */

@keyframes slideLeft{

    from{

        opacity:0;

        transform:translateX(-80px);

    }

    to{

        opacity:1;

        transform:translateX(0);

    }

}

@keyframes slideRight{

    from{

        opacity:0;

        transform:translateX(80px);

    }

    to{

        opacity:1;

        transform:translateX(0);

    }

}
/* ==========================
   SEARCH SECTION
========================== */

.search-section{

    width:90%;
    margin:50px auto;
    text-align:center;

}

.search-section h2{

    color:#800040;
    margin-bottom:25px;
    font-size:32px;

}

.search-box{

    display:flex;
    justify-content:center;
    gap:15px;

}
.voice-btn{
    background:#8a004f;
    color:white;
    border:none;
    padding:12px 18px;
    margin:0 8px;
    border-radius:10px;
    cursor:pointer;
    transition:.3s;
}

.voice-btn:hover{
    background:#b10062;
    transform:scale(1.05);
}

.search-box input{

    width:500px;
    padding:16px;
    border:2px solid #800040;
    border-radius:12px;
    font-size:16px;
    outline:none;

}

.search-box button{

    background:#800040;
    color:white;
    border:none;
    padding:16px 28px;
    border-radius:12px;
    cursor:pointer;
    transition:.3s;

}

.search-box button:hover{

    background:#a00050;

}

/* ==========================
   QUICK ACCESS
========================== */

.quick-access{

    width:90%;
    margin:70px auto;

}

.quick-access h2{

    text-align:center;
    color:#800040;
    margin-bottom:30px;
    font-size:32px;

}

.card-container{

    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;

}

.card{

    background:white;
    text-decoration:none;
    color:#800040;
    text-align:center;
    padding:35px 20px;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,.1);
    transition:.3s;

}

.card i{

    font-size:40px;
    margin-bottom:15px;

}

.card:hover{

    background:#800040;
    color:white;
    transform:translateY(-10px);

}

/* ==========================
   CAMPUS MAP
========================== */

.campus-preview{

    width:90%;
    margin:70px auto;
    text-align:center;

}

.campus-preview h2{

    color:#800040;
    margin-bottom:20px;

}

.campus-preview img{

    width:100%;
    border-radius:20px;
    box-shadow:0 15px 30px rgba(0,0,0,.15);

}

/* ==========================
   FOOTER
========================== */

footer{

    background:#800040;
    color:white;
    text-align:center;
    padding:25px;
    margin-top:60px;

}

/*=========================
      AI CARD
==========================*/

.ai-card{

    background:white;

    border-radius:25px;

    padding:45px;

    text-align:center;

    box-shadow:0 20px 45px rgba(0,0,0,.12);

}

/* AI Circle */

.ai-circle{

    position:relative;

    width:150px;

    height:150px;

    margin:auto;

}

/* Robot */

.ai-logo{

    position:absolute;

    width:110px;

    height:110px;

    background:linear-gradient(135deg,#800040,#c2185b);

    border-radius:50%;

    top:20px;

    left:20px;

    display:flex;

    justify-content:center;

    align-items:center;

    color:white;

    font-size:55px;

    z-index:5;

    animation:float 3s ease-in-out infinite;

}

/* Pulse */

.pulse{

    position:absolute;

    width:150px;

    height:150px;

    border-radius:50%;

    border:3px solid #800040;

    animation:pulse 2.5s infinite;

}

.pulse2{

    animation-delay:1.2s;

}

/* Heading */

.ai-card h2{

    margin-top:25px;

    color:#800040;

    font-size:28px;

}

/* Text */

.ai-text{

    margin:20px 0;

    color:#666;

    line-height:30px;

}

/* Status */

.status{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:10px;

    margin-bottom:30px;

}

.dot{

    width:12px;

    height:12px;

    background:limegreen;

    border-radius:50%;

    animation:blink 1s infinite;

}

/* Button */

.start-ai{

    display:inline-block;

    background:#800040;

    color:white;

    padding:15px 35px;

    border-radius:12px;

    text-decoration:none;

    font-weight:600;

    transition:.3s;

}

.start-ai:hover{

    background:#a00050;

    transform:translateY(-5px);

}

/* Floating */

@keyframes float{

    0%{

        transform:translateY(0);

    }

    50%{

        transform:translateY(-12px);

    }

    100%{

        transform:translateY(0);

    }

}

/* Pulse */

@keyframes pulse{

    0%{

        transform:scale(.7);

        opacity:1;

    }

    100%{

        transform:scale(1.3);

        opacity:0;

    }

}

/* Online */

@keyframes blink{

    0%{

        opacity:1;

    }

    50%{

        opacity:.3;

    }

    100%{

        opacity:1;

    }

}