body{
    font-family:'Poppins',sans-serif;
    background-image:url("../images/college_entrance.jpeg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0;
}
/* Logo */

.logo{
    width:90px;
    height:90px;
    border-radius:50%;
    object-fit:cover;
    display:block;
    margin:0 auto 15px auto;
}

.login-box{

    width:420px;

    background:rgba(255,255,255,.18);

    backdrop-filter:blur(10px);

    padding:40px;

    border-radius:20px;

    text-align:center;

    color:white;

    box-shadow:0 10px 30px rgba(0,0,0,.4);

    animation:slideUp 1.5s;
}

.login-box h2{
    margin:5px 0;
    color:white;
}

.login-box h3{
    margin:5px 0 20px;
    color:#f5d6e6;
    font-weight:400;
}
.login-box input{

    width:100%;

    padding:14px;

    margin:10px 0;

    border:none;

    border-radius:10px;
}

.login-box button{

    width:100%;

    padding:14px;

    background:#800040;

    color:white;

    border:none;

    border-radius:10px;

    cursor:pointer;
}

.login-box button:hover{

    background:#a00050;
}

@keyframes slideUp{

    from{

        opacity:0;

        transform:translateY(50px);
    }

    to{

        opacity:1;

        transform:translateY(0);
    }
}
