<!DOCTYPE html>
<html>
    <head>
        <title>Auditorium</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/auditorium.css') }}">
    </head>
    <body>
        <div class="dashboard-box">
            <h1> 🏢 Auditorium</h1>
            <p=justify>
            <p>
                <b>📍 Route to  New Auditorium</b> </p>

<p> Starting Point: Main Gate</p>

<p>1. Walk straight for 70 metres </p>
<p>2. Take a left turn</p>
<p>3. You will find the New Auditorium there</p>

         <p>  <b>📍 Route to Old Auditorium </b></p>

<p>Starting Point: Main Gate</p>

<p>1. Walk straight for 50 metres</p>
<p>2. Take a right turn and walk straight for 50 metres</p>
<p>3. Take a left turn
<p>4. You will find the Old Auditorium on the left side</p>
        </p>
            <a href="/dashboard" class="back-btn">
                ← Back to Dashboard
            </a>
        </div>
    </body>
</html>
