<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Botony Department Route</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/route.css') }}">
    <style>
    .dashboard-box {
        text-align: left;
    }

    .dashboard-box p {
        text-align: left;
        line-height: 1.6;
    }

    .dashboard-box h1 {
        text-align: center;
    }
</style>

</head>

<body>

<div class="route-box">

    <h1>Botony Department</h1>

    <div class="route">

        <p>📍 Route to Botany Aided Department</p>

<p>Starting Point: Main Gate</p>

<p>1. Walk straight for 50 metres</p>
<p>2. Take a right turn</p>
<p>3. Then take a left turn</p>
<p>4. You will reach the Main Block</p>
<p>5. In the Main Block, the Botany Aided Department is located on the right side of the First Floor</p>
        

    </div>
    <div class="tamil-route>
        <p>📍 தாவரவியல் (Botany) Aided துறைக்கான வழி</p>

<p>தொடங்கும் இடம்: பிரதான நுழைவாயில்</p>

<p>1. 50 மீட்டர் நேராக நடந்து செல்லவும்</p>

<p>2. வலதுபுறம் திரும்பவும்</p>

<p>3. பின்னர் இடதுபுறம் திரும்பவும்</p>

<p>4. நீங்கள் Main Block-ஐ அடைவீர்கள்</p>

<p>5. Main Block-இன் முதல் தளத்தில், தாவரவியல் (Botany) Aided துறை வலதுபுறத்தில் அமைந்துள்ளது</p>
        </div>   

    <a href="/aided" class="back-btn">
        ⬅ Back to Aided Departments
    </a>

</div>

</body>
</html>
