<!DOCTYPE html>
<html>
    <head>
        <title>canteen</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/canteen.css') }}">
    </head>
    <body>
        <div class="dashboard-box">
            <h1>🍽️ Canteen</h1>
            <h2>    Route of Canteen</h2>
            <p>
            📍 Main Block,Straight Walk To 50 Meters
            <br><br>
            ➡️ Turn Right And Go Straight
            <br><br>
            ➡️ Turn Right 
            <br><br>
            ✅ Finally Reached Canteen
            <br><br>
            </p>
            <a href="/dashboard" class="back-btn">
                ← Back to Dashboard
            </a>
        </div>
    </body>
</html>
