<!DOCTYPE html>
<html>
    <head>
        <title>canteen</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/canteen.css') }}">
        <style>
    .dashboard-box {
        text-align: left;
    }

    .dashboard-box p {
        text-align: left;
        line-height: 1.6;
    }

    .dashboard-box h1 {
        text-align: center;
    }
</style>
    </head>
    <body>
        <div class="dashboard-box">
            <h1>🍽️ Canteen</h1>
            <p>
             📍 Route to Canteen</p>

<p>Starting Point: Main Gate</p>

<p>1. Walk straight for 50 metres </p>
<p>2. Take a right turn and walk straight for 40 metres </p>
<p>3. Take a left turn and walk straight for 50 metres </p>
<p>4. Take a right turn </p>
<p>5. You will find the Canteen on the right side</p>
            <div class="tamil-route">

    <p>📍 <b>கேண்டீனுக்கான வழி</b></p>

    <p><b>தொடங்கும் இடம்:</b> பிரதான நுழைவாயில்</p>

    <p>1. 50 மீட்டர் நேராக நடந்து செல்லவும்</p>

    <p>2. வலதுபுறம் திரும்பி 40 மீட்டர் நேராக நடந்து செல்லவும்</p>

    <p>3. இடதுபுறம் திரும்பி 50 மீட்டர் நேராக நடந்து செல்லவும்</p>

    <p>4. வலதுபுறம் திரும்பவும்</p>

    <p>5. கேண்டீன் வலதுபுறத்தில் அமைந்துள்ளது</p>

</div>
            <a href="/dashboard" class="back-btn">
                ← Back to Dashboard
            </a>
        </div>
    </body>
</html>
