<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>commerce unaided Department Route</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/route.css') }}">
    <style>
    .dashboard-box {
        text-align: left;
    }

    .dashboard-box p {
        text-align: left;
        line-height: 1.6;
    }

    .dashboard-box h1 {
        text-align: center;
    }
</style>

</head>

<body>

<div class="route-box">

    <h1> Commerce Unaided Department</h1>

    <div class="route">

        <p>📍 Route to B.Com Unaided</p>

<p>**Starting Point: Main Gate**</p>

<p>1. Walk straight for 50 metres</p>
<p>2. Take a right turn and walk straight for 30 metres</p>
<p>3. Take a left turn and walk straight for 40 metres</p>
<p>4. On the right side, you will find the John Tucker Block</p>
<p>5. The Canteen is located next to the John Tucker Block</p>
<p>6. The B.Com Unaided is located on the First Floor</p>

    </div>

    <a href="/unaided" class="back-btn">
        ⬅ Back to Aided Departments
    </a>

</div>

</body>
</html>
