<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Computer application Department Route</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/route.css') }}">

</head>

<body>

<div class="route-box">

    <h1>Computer Application Department</h1>

    <h2>Route Navigation</h2>

    <div class="route">

        <p>### 📍 Route to Bachelor of Computer Applications Department</p>

<p>**Starting Point: Main Gate**</p>

<p>1. Walk straight for **70 metres**</p>
<p>2. You will find the **New Auditorium**</p>
<p>3. Next to the **New Auditorium**, you will find the **Physics SF Block**</p>
<p>4. Behind the **Physics SF Block**, you will find the **Bachelor of Computer Applications Department**</p>
    </div>

    <a href="/unaided" class="back-btn">
        ⬅ Back to Aided Departments
    </a>

</div>

</body>
</html>
