<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Computer application Department Route</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/route.css') }}">
    <style>
    .dashboard-box {
        text-align: left;
    }

    .dashboard-box p {
        text-align: left;
        line-height: 1.6;
    }

    .dashboard-box h1 {
        text-align: center;
    }
</style>

</head>

<body>

<div class="route-box">

    <h1>Computer Application Department</h1>

    <div class="route">

        <p> 📍 Route to Bachelor of Computer Applications Department</p>

<p>Starting Point: Main Gate</p>

<p>1. Walk straight for 70 metres</p>
<p>2. You will find the New Auditorium</p>
<p>3. Next to the New Auditorium, you will find the Physics SF Block</p>
<p>4. Behind the Physics SF Block, you will find the Bachelor of Computer Applications Department</p>
    </div>
    <div class="tamil-route">

    <h2>🇮🇳 தமிழ் வழி</h2>

    <p>📍 <b>இளங்கலை கணினி பயன்பாடுகள் (BCA) துறைக்கான வழி</b></p>

    <p><b>தொடங்கும் இடம்:</b> பிரதான நுழைவாயில்</p>

    <p>1. 70 மீட்டர் நேராக நடந்து செல்லவும்</p>

    <p>2. நீங்கள் New Auditorium-ஐ காணலாம்</p>

    <p>3. New Auditorium-க்கு அருகில் Physics SF Block அமைந்துள்ளது</p>

    <p>4. Physics SF Block-க்கு பின்னால் இளங்கலை கணினி பயன்பாடுகள் (BCA) துறை அமைந்துள்ளது</p>

</div>

    <a href="/unaided" class="back-btn">
        ⬅ Back to Aided Departments
    </a>

</div>

</body>
</html>
