<!DOCTYPE html>
<html>
<head>

    <title>Departments</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/departments_home.css') }}">

</head>

<body>

<div class="department-box">

    <h2>Departments</h2>

    <div class="button-group">

        <a href="/aided" class="btn">
            Aided Departments
        </a>

        <a href="/unaided" class="btn">
            Unaided Departments
        </a>

    </div>

    <a href="/dashboard" class="back-btn">
        ⬅ Back to Dashboard
    </a>

</div>

</body>
</html>
