<!DOCTYPE html>
<html>
    <head>
        <title>Emergency help</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/emergency.css') }}">
        <style>
    .dashboard-box {
        text-align: left;
    }

    .dashboard-box p {
        text-align: left;
        line-height: 1.6;
    }

    .dashboard-box h1 {
        text-align: center;
    }
</style>
    </head>
    <body>
        <div class="dashboard-box">
            <h1>Contact Info</h1>
            <p> College Office   : 9345297543</p>
            <p> Email Id :  sarahtucker95@rediffmail.com</p>
             <a href="/dashboard" class="back-btn">
                ← Back to Dashboard
            </a>

        </div>
    </body>
</html>
