<!DOCTYPE html>
<html>
    <head>
        <title>Emergency help</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/emergency.css') }}">
    </head>
    <body>
        <div class="dashboard-box">
            <h1>Emergency Help</h1>
            <h2>Important Contacts</h2>

            <p>📞 College Office   : 9345297543</p>
            <p>🛡️ Security         : 9876543210</p>
            <p>🚑 Ambulance        : 108</p>
            <p>👮 Police           : 100</p>
            <p>👩 Women's Helpline : 181</p>
             <a href="/dashboard" class="back-btn">
                ← Back to Dashboard
            </a>

        </div>
    </body>
</html>
