<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>English Unaided Department Route</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/route.css') }}">
    <style>
    .dashboard-box {
        text-align: left;
    }

    .dashboard-box p {
        text-align: left;
        line-height: 1.6;
    }

    .dashboard-box h1 {
        text-align: center;
    }
</style>

</head>

<body>

<div class="route-box">

    <h1>English Unaided Department</h1>

    <h2>Route Navigation</h2>

    <div class="route">

        <p>### 📍 Route to English Self Department</p>

<p>**Starting Point: Main Gate**</p>

<p>1. Walk straight for **50 metres**</p>
<p>2. **Turn right** and walk for **40 metres**</p>
<p>3. **Continue straight** for **60 metres**</p>
<p>4. **Turn right** to reach the **John Tucker Block**</p>
<p>5. The **Canteen** is located next to the John Tucker Block</p>
<p>6. Enter the **John Tucker Block** and go to the **Second Floor**</p>
<p>7. The **English Self Department** is located on the **Second Floor**</p>
    </div>

    <a href="/unaided" class="back-btn">
        ⬅ Back to Aided Departments
    </a>

</div>

</body>
</html>
