<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device=width", initial-scale="1.0">
        <title>AI Driven Smart Campus Navigation</title>

        <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    </head>
    <body>
        <div class="container">
            <img src="{{ url_for('static', filename='images/logo.JPEG') }}"
     class="logo">
            <h1><b> AI Driven Smart Campus Navigation</b></h1>
            <h2>Navigate Your Campus With Artificial Intelligence</h2>
            <p>Easily Find Classrooms, Laboratories,Library,Canteen,Office And Other Facilities Using AI Powered Navigation</p>
            <a href="/login">
            <button class="start-btn">Get Started</button>
            </a>
        </div>    
    </body>
</html>    
