<!DOCTYPE html>
<html>
    <head>
        <title>library route</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/library.css') }}">

    </head>
    <body>
        <div class="dashboard-box">
            
            <h1>Library Navigation</h1>
            <h2>Route To Library</h2>
            <p>📍 Route to Library </p>

**Starting Point: Main Gate**

<p>1. Walk straight for 50 metres </p>
<p>2. Take a right turn and walk straight for 50 metres</p
<p>3. Take another right turn and walk straight</p>
<p>4. Take a left turn and continue walking </p>
<p>5. You will find the Library on the left side</p>
            <a href="/dashboard" class="back-btn">
                ← Back to Dashboard
            </a>
        </div>

    </body>
</html>
