<!DOCTYPE html>
<html>
    <head>
        <title>library route</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/library.css') }}">

    </head>
    <body>
        <div class="dashboard-box">
            
            <h1>Library Navigation</h1>
            <h2>Route To Library</h2>
            <p>
                📍Step1<br>
                     Main Gate <br><br>
                ➡️ Step2 <br>
                     Walk Straight for 50 meters <br><br>
                ⬅️ Step3 <br>
                     Take  Right Turn <br><br>
                🏢 Step4  <br>
                     Go to First Floor <br><br>
                ✅ Destination <br>
                     Reached Library
            </p>
            <a href="/dashboard" class="back-btn">
                ← Back to Dashboard
            </a>
        </div>

    </body>
</html>
