<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>mathematics unaided Department Route</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/route.css') }}">
    <style>
    .dashboard-box {
        text-align: left;
    }

    .dashboard-box p {
        text-align: left;
        line-height: 1.6;
    }

    .dashboard-box h1 {
        text-align: center;
    }
</style>

</head>

<body>

<div class="route-box">

    <h1>Mathematics Unaided Department</h1>

    <div class="route">

        <p>📍 Route to Maths Self Department</p>

<p>Starting Point: Main Gate</p>

<p>1. Walk straight for 100 metres</p>
<p>2. Turn left and continue straight inside</p>
<p>3. Continue walking straight to reach the Maths Self Department</p>
    </div>
    <div class="tamil-route">

    <p>📍 <b>கணிதம் (Maths Self) துறைக்கான வழி</b></p>

    <p><b>தொடங்கும் இடம்:</b> பிரதான நுழைவாயில்</p>

    <p>1. 100 மீட்டர் நேராக நடந்து செல்லவும்</p>

    <p>2. இடதுபுறம் திரும்பி தொடர்ந்து நேராக உள்ளே செல்லவும்</p>

    <p>3. தொடர்ந்து நேராக நடந்து சென்றால் Maths Self துறையை அடையலாம்</p>

</div>

    <a href="/unaided" class="back-btn">
        ⬅ Back to Aided Departments
    </a>

</div>

</body>
</html>
