<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Nano Science Department Route</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/route.css') }}">

</head>

<body>

<div class="route-box">

    <h1>Nano Science Department</h1>

    <h2>Route Navigation</h2>

    <div class="route">

        <p>### 📍 Route to Nano Science Department</p>

<p>**Starting Point: Main Gate**</p>

<p>1. Walk straight for **60 metres**</p>
<p>2. You will find the **New Auditorium**</p>
<p>3. The **Nano Science Department** is located **underground, below the New Auditorium**</p>

    </div>

    <a href="/unaided" class="back-btn">
        ⬅ Back to Aided Departments
    </a>

</div>

</body>
</html>
