<!DOCTYPE html>
<html>
    <head>
        <title>office route</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/office.css') }}">
        <style>
    .dashboard-box {
        text-align: left;
    }

    .dashboard-box p {
        text-align: left;
        line-height: 1.6;
    }

    .dashboard-box h1 {
        text-align: center;
    }
</style>

    </head>
    <body>
        <div class="dashboard-box">
            <h1>Office Navigation</h1>
            <h2>Route To Office</h2>
            <p>
               📍 Route to  Office

Starting Point: Main Gate

<p>1. Walk straight for 50 metres</p>
<p>2. Take a right turn </p>
<p>3. You will find a building there </p>
<p>4. The Office is located on the Ground Floor of the building</p>
            </p>
         <a href="/dashboard" class="back-btn">
                ← Back to Dashboard
            </a>    
        </div>

    </body>
</html>
