<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Physics Department Route</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/route.css') }}">
    <style>
    .dashboard-box {
        text-align: left;
    }

    .dashboard-box p {
        text-align: left;
        line-height: 1.6;
    }

    .dashboard-box h1 {
        text-align: center;
    }
</style>

</head>

<body>

<div class="route-box">

    <h1>Physics Department</h1>

    <div class="route">

        <p>📍 Route to Physics Regular Department</p>

<p>Starting Point: Main Gate</p>

<p>1. Walk straight for 50 metres</p>
<p>2. Turn right and you will find the Main Block</p>
<p>3. Enter the Main Block and go to the First Floor</p>
<p>4. The Physics Regular Department is located on the First Floor.</p>

    </div>
    <div class="tamil-route">

    <p>📍 <b>இயற்பியல் (Physics Regular) துறைக்கான வழி</b></p>

    <p><b>தொடங்கும் இடம்:</b> பிரதான நுழைவாயில்</p>

    <p>1. 50 மீட்டர் நேராக நடந்து செல்லவும்</p>

    <p>2. வலதுபுறம் திரும்பினால் Main Block-ஐ காணலாம்</p>

    <p>3. Main Block-க்குள் சென்று முதல் தளத்திற்குச் செல்லவும்</p>

    <p>4. முதல் தளத்தில் இயற்பியல் (Physics Regular) துறை அமைந்துள்ளது</p>

</div>

    <a href="/aided" class="back-btn">
        ⬅ Back to Aided Departments
    </a>

</div>

</body>
</html>
