<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>physics unaided Department Route</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/route.css') }}">
    <style>
    .dashboard-box {
        text-align: left;
    }

    .dashboard-box p {
        text-align: left;
        line-height: 1.6;
    }

    .dashboard-box h1 {
        text-align: center;
    }
</style>

</head>

<body>

<div class="route-box">

    <h1>Physics Unaided Department</h1>

    <div class="route">

        <p> 📍 Route to Physics Self Department</p>

<p>Starting Point: Main Gate</p>

<p>1. Walk straight for 70 metres</p>
<p>2. You will find the New Auditorium</p>
<p>3. The Physics Self Department is located on the left side of the New Auditorium</p>

    </div>
    <div class="tamil-route">

    <p>📍 <b>இயற்பியல் (Physics Self) துறைக்கான வழி</b></p>

    <p><b>தொடங்கும் இடம்:</b> பிரதான நுழைவாயில்</p>

    <p>1. 70 மீட்டர் நேராக நடந்து செல்லவும்</p>

    <p>2. நீங்கள் New Auditorium-ஐ காணலாம்</p>

    <p>3. New Auditorium-ன் இடதுபுறத்தில் இயற்பியல் (Physics Self) துறை அமைந்துள்ளது</p>

</div>

    <a href="/unaided" class="back-btn">
        ⬅ Back to Aided Departments
    </a>

</div>

</body>
</html>
