<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Zoology Department Route</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/route.css') }}">
    <style>
    .dashboard-box {
        text-align: left;
    }

    .dashboard-box p {
        text-align: left;
        line-height: 1.6;
    }

    .dashboard-box h1 {
        text-align: center;
    }
</style>

</head>

<body>

<div class="route-box">

    <h1>Zoology Department</h1>

    <h2>Route Navigation</h2>

    <div class="route">

        <p>### 📍 Route to Zoology Aided Department</p>

<p>**Starting Point: Main Gate**</p>

<p>1. Walk straight for **50 metres**</p>
<p>2. Take a **right turn** and walk straight for **40 metres**</p>
<p>3. Take a **left turn** and walk straight for **40 metres**</p>
<p>4. Take a **left turn**</p>
<p>5. The **Zoology Aided Department** is located **behind the Management Office**</p>

    </div>

    <a href="/aided" class="back-btn">
        ⬅ Back to Aided Departments
    </a>

</div>

</body>
</html>
